/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container, 
  .mission__container, 
  .vision__container, 
  .services__container, 
  .contact__container
  {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }
  .bot-footer
  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content:space-between;
  }
  .vision__container{
    gap: 100px;
  }
  .mission__container 
  {
    gap: 40px;
  }

  .about__data, 
  .about__initial,
  .app__data, 
  .app__initial,
  .contact__container, 
  .contact__initial{
    text-align: initial;
  }
  .mission__data
  {
    margin-left: var(--mb-3);
  }
  .contact__data
  {
    margin-left: var(--mb-3);
  }
 .app__img, 
 .bookings-img 
 {
    width: 380px;
    order: -1;
  }
  .about__img
  {
    width: 450px;
    order: -1;
  }
  .vision__img
  {
    width: 450px;
  }
  .remind__img 
  {
    width: 918px;
    order: -1;
  }
  .mission__img
  {
    width: 450px;
    order: -1;
  }
  .product_img
  {
    width: 25px;
  }
  .contact__button
  {
    justify-self: center;
  }
}
@media screen and (min-width: 768px){
  body
  {
    margin: 0;
  }

  .section
  {
    padding-top: 8rem;
  }
 
  .nav
  {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme
  {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container
  {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  
  {
    margin-top: var(--mb-6);
  }

  .menu__container
  {
    display: grid;
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu-second{
    display: flex;
  }
  .menu__content
  {
    padding: 1.5rem;
  }
  .menu__img
  {
    width: 130px;
  }
}
@media screen and (min-width: 960px){
  .bd-container
  {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img
  {
    width: 500px;
  }
  .logo_img
  {
    margin-right: var(--mb-1);
  }
  .about__container
  {
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container 
    {
        height: 640px;
    }
    hr 
    {
      margin-top: 100px;
    }
   .bot
    {
      margin-bottom: 10px;
    }
}
